.about{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.61)), url('https://i.ibb.co/89g3xGq/Mighty-Fitness-Trainers-Working-Out.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}